<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}Music Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'musicplatform/site.css' %}">
</head>

<body style="text-align: center; font-family: Garamond, sans-serif; padding: 40px;"></body>
    <nav style="background-color: blue; padding: 10px; text-align: center;">
        <a href="/" style="color: white; margin-right: 15px;">Home</a>
        <a href="/about" style="color: white;">About</a>
    </nav>    

    {% block content %}{% endblock %}

    <footer>
        <p>Copyright 2024 | Music Platform | IS218 | Annie Nguyen | April 9, 2026</p>
    </footer>
</body>
</html>